<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Calendar</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
  <style>
    body {
      margin-bottom: 70px;
    }

    footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #f8f9fa;
      text-align: center;
      padding: 10px 0;
    }

    #calendar {
      max-width: 900px;
      margin: 40px auto;
    }
  </style>
</head>

<body>
  <div th:replace="~{nav :: content}"></div>
  <div class="container mt-5">
    <div id="calendar"></div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
  <script th:inline="javascript">
    $(document).ready(function () {
      var events = /*[[${events}]]*/[];
      events = JSON.parse(events);
      events.forEach(function (event) {
        event.start = event.date + "T" + event.start;
        event.end = event.date + "T" + event.end;
      });
      console.log(events);

      $("#calendar").fullCalendar({
        defaultView: "month",
        header: {
          left: "prev,next today",
          center: "title",
          right: "",
        },
        events: events,
        dayClick: function (date, jsEvent, view) {
          window.location.href = "/addtask?date=" + date.format();
        },
        eventClick: function (calEvent, jsEvent, view) {
          window.location.href = "/updatetask?id=" + calEvent.id;
        },
      });
    });
  </script>
</body>

</html>