<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head data-th-replace="~{nav :: head}">
    <title>Dashboard</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        margin-top: 20px;
      }

      .task-item {
        margin-bottom: 20px;
      }

      .card {
        margin-bottom: 20px;
      }
    </style>
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Event Planner</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/calendar">Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6"  style="overflow:auto; max-height: 91vh;">
          <div id="alltasks" class="container"></div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <div>
                <h2 th:text="${riddle.title}"></h2>
                <p th:text="${riddle.question}"></p>
                <p th:text="${riddle.answer}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div data-th-replace="~{nav :: scripts}"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script th:inline="javascript">
      document.addEventListener("DOMContentLoaded", function () {
      var events = [];
      console.log("TCL  ~ file: dashboard.html:16 ~ events:", events);
      events = JSON.parse(events);

      events.sort(function (a, b) {
        return new Date(a.date) - new Date(b.date);
      });

      events.forEach(function (event) {
        event.start = event.date + "T" + event.start;
        event.end = event.date + "T" + event.end;
      });

      var alltasksContainer = document.getElementById("alltasks");

      events.forEach(function (task) {
        var taskElement = document.createElement("div");
        taskElement.classList.add("task-item", "card");
        taskElement.setAttribute("style", "border-radius:10px; box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); margin-bottom:15px;");

        var cardBody = document.createElement("div");
        cardBody.classList.add("card-body");

        var dateElement = document.createElement("p");
        dateElement.classList.add("card-text");
        dateElement.textContent = "Date: " + task.date;
        cardBody.appendChild(dateElement);

        var titleElement = document.createElement("p");
        titleElement.classList.add("card-text");
        titleElement.textContent = "Title: " + task.title;
        cardBody.appendChild(titleElement);

        var descriptionElement = document.createElement("p");
        descriptionElement.classList.add("card-text");
        descriptionElement.textContent = "Description: " + task.description;
        cardBody.appendChild(descriptionElement);

        var timeElement = document.createElement("p");
        timeElement.classList.add("card-text");
        timeElement.textContent = "Time: " + task.start + " - " + task.end;
        cardBody.appendChild(timeElement);

        taskElement.appendChild(cardBody);
        alltasksContainer.appendChild(taskElement);
        });
      });
    </script>
  </body>
</html>
